archive.zip
~$GENeSYS-MOD_User_Input_Settings_v01_phe_05-09-2023.xlsx
.ipynb_checkpoints/ReadIN Sets-checkpoint.ipynb
output_csv/Par_AnnualEmissionLimit.csv
output_csv/Par_AnnualExogenousEmission.csv
output_csv/Par_AnnualSectoralEmissionLimit.csv
output_csv/Par_AvailabilityFactor.csv
output_csv/Par_BaseYearProduction.csv
output_csv/Par_CapacityFactor.csv
output_csv/Par_CapacityToActivityUnit.csv
output_csv/Par_CapitalCost.csv
output_csv/Par_CapitalCostStorage.csv
output_csv/Par_Conversionld.csv
output_csv/Par_Conversionlh.csv
output_csv/Par_Conversionls.csv
output_csv/Par_DaySplit.csv
output_csv/Par_EmissionActivityRatio.csv
output_csv/Par_EmissionContentPerFuel.csv
output_csv/Par_EmissionPenaltyTagTech.csv
output_csv/Par_EmissionsPenalty.csv
output_csv/Par_FixedCost.csv
output_csv/Par_GrowthRateTradeCapacity.csv
output_csv/Par_InputActivityRatio.csv
output_csv/Par_MinStorageCharge.csv
output_csv/Par_ModalSplitByFuel.csv
output_csv/Par_ModelPeriodActivityMaxLimit.csv
output_csv/Par_OperationalLife.csv
output_csv/Par_OperationalLifeStorage.csv
output_csv/Par_OutputActivityRatio.csv
output_csv/Par_RegionalAnnualEmissionLimit.csv
output_csv/Par_RegionalBaseYearProduction.csv
output_csv/Par_RegionalCCSLimit.csv
output_csv/Par_ReserveMargin.csv
output_csv/Par_ReserveMarginTagFuel.csv
output_csv/Par_ReserveMarginTagTechnology.csv
output_csv/Par_ResidualCapacity.csv
output_csv/Par_ResidualStorageCapacity.csv
output_csv/Par_SpecifiedAnnualDemand.csv
output_csv/Par_StorageMaxChargeRate.csv
output_csv/Par_StorageMaxDischargeRate.csv
output_csv/Par_TagTechnologyToModalType.csv
output_csv/Par_TagTechnologyToSector.csv
output_csv/Par_TechnologyFromStorage.csv
output_csv/Par_TechnologyToStorage.csv
output_csv/Par_TotalAnnualMaxActivity.csv
output_csv/Par_TotalAnnualMaxCapacity.csv
output_csv/Par_TotalAnnualMinActivity.csv
output_csv/Par_TotalAnnualMinCapacity.csv
output_csv/Par_TradeCapacity.csv
output_csv/Par_TradeCapacityGrowthCosts.csv
output_csv/Par_TradeCosts.csv
output_csv/Par_TradeRoute.csv
output_csv/Par_VariableCost.csv
output_csv/Par_YearSplit.csv
output_csv/Sets.csv
output_excel/output.xlsx
